@import "tailwindcss";
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import "element-plus/dist/index.css";

@media (max-width: 720px) {
  body {
    margin: 0 2px;
  }
}


.g-cell-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.g-hover-icon {
  font-weight: normal;
  transition: transform 0.2s;
  transition: font-weight 0.2s;
  color: #909399;
}
.g-hover-icon:hover {
  transform: scale(1.2);
  font-weight: bold;
  color: #409EFF;
  cursor: pointer;
}
